<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean name="view_car_list" class="by.htp.carparking.web.action.impl.CarListViewAction">
		<property name="carService" ref="carService"></property>
	</bean>
	
	<bean name="carService" class="by.htp.carparking.service.impl.CarServiceImpl">
		<property name="carDao" ref="carDao"></property>
	</bean>
	
	<bean name="carDao" class="by.htp.carparking.dao.impl.CarDaoDBImpl"/>
	
	
	
	<bean name="car_order" class="by.htp.carparking.web.action.impl.OrderCarAction">
		<property name="orderService" ref="orderService"></property>
	</bean>
	
	<bean name="orderService" class="by.htp.carparking.service.impl.OrderServiceImpl">
		<property name="orderDao" ref="orderDao"></property>
	</bean>
	
	<bean name="orderDao" class="by.htp.carparking.dao.impl.OrderDaoDBImpl"/>
	
</beans>